/* Carousel.css */
.slick-slider {
  width: 80%;
  margin: auto;
}

.slick-prev,
.slick-next {
  font-size: 14px;
  color: #000;
}

.slick-prev:hover,
.slick-next:hover {
  color: #ff0000;
}

.slick-dots {
  bottom: 10px;
}

.slick-dots li button:before {
  font-size: 12px;
}
